body
{
  background-image: url("imagenes/fondo2.jpg");
  background-size: 100%, 100%;
}

@font-face
{
  font-family: "glasoor";
  src: url("fuentes/4th february - Glasoor FF 4F.ttf");
}

*
{
  padding: 0px;
  margin: 0px;
}

.nav
{
  margin: auto;
  width: 400px;
  font-family: glasoor;
  font-size: 25px;
}

ul
{
  list-style: none;
}

.nav li a
{
    background-color: #FFC300;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover
{
  background-color:  #dca600 ;
}

.nav > li
{
  float: left;
}

.nav li ul
{
  display:none;
  position:fixed;
  min-width: 150px;
}

/*> apunta a las etiquetas directas*/
.nav li:hover > ul
{
  display: block;
}

/*ahora hacemos los submenus, todos los li dentro de ul que esten dentro de li*/
